---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Benefits from "../components/Benefits.astro";
import CTA from "../components/CTA.astro";
---

<BaseLayout>
  <Navbar />

  <main>
    <Hero />
    <Services />
    <Benefits />
    <CTA />
  </main>
</BaseLayout>